.DS_Store
ft_ls
ft_ls.dSYM
ft_ls.dSYM/Contents/Info.plist
ft_ls.dSYM/Contents/Resources/DWARF/fs_ls
.gitignore.swp
.ft_ls.h.swp
.ft_ls.c.swp
.opt_a_l.c.swp
.opt_sort.c.swp
.print.c.swp
.print_help.c.swp
.usage_error.c.swp
.validate.c.swp
